SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SCOPES=read_app_proxy,read_customers,write_customers,read_discounts,write_discounts
SHOPIFY_APP_URL=https://student-automatic-discount.onrender.com
DATABASE_URL=

# Optional
SHOP_CUSTOM_DOMAIN=
LIVE_SHOP_DOMAIN=7shdka-4d.myshopify.com
